# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Virtual environment
venv/
env/
.venv/

# Flask instance folder / config
instance/
*.env

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Mac / Linux
.DS_Store
*.swp
*.swo

# Uploads (if you don’t want to push images)
static/uploads/
